body {
    background-color: #e4f9f5;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 8px;
    width: 5%;
  }
  img {
    width: 225px;
  }
  h1, h2, h3 {
    color: #11999E;
  }